<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="assets/css/vant.css">
    <script src="assets/js/vconsole.min.js"></script>
    <script>
        var vConsole = new VConsole();
    </script>
    <title>笔试题详情</title>
</head>

<body>

    <div id="app">
        <van-grid :column-num="3">
            <van-grid-item v-for="(examPhotoUrl,i) in exam.examPhotoUrls" :key="i">
                <van-image :src="examPhotoUrl" @click="handleImageTouch(i)">
                </van-image>
            </van-grid-item>
        </van-grid>

        <van-image-preview v-model="show" :images="exam.examPhotoUrls" @change="onChange" :start-position="index"
            :loop="false" :show-indicators="true">
        </van-image-preview>

        <van-divider>转换文字</van-divider>

    </div>

    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/vant.min.js"></script>
    <script src="viewmodels/exam-show.js?201912222042"></script>

</body>

</html>