<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="assets/css/vant.css">
    <script src="assets/js/vconsole.min.js"></script>
    <script>
        var vConsole = new VConsole();
    </script>
    <title>Demo</title>
</head>

<body>

    <div id="app">
        <van-nav-bar title="标题" left-text="返回" left-arrow @click-left="onClickLeft" @click-right="onClickRight">
            <van-icon name="wap-home-o" slot="right"></van-icon>
        </van-nav-bar>
        <van-search v-model="keyword" placeholder="请输入搜索关键词" show-action shape="round" @search="onSearch">
            <div slot="action" @click="onSearch">搜索</div>
        </van-search>
        <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="onLoad">
            <!-- <van-cell v-for="(item,a) in listexam" :key="a" :title="item.realname" /> -->

            <div style="clear: left;margin-left: 50px;margin-right: 50px;margin-bottom: 10px;" v-for="(item,a) in listexam" :key="a">
                <div>
                    <div style="float: left; width: 380px;"><van-icon name="coupon-o" />&nbsp;&nbsp;{{item.company}}公司面试题</div>
                    <div style="float: left;"> <button>详情</button></div>
                </div>
                <div style="clear: left;margin-top: 30px;">
                    <div style="float: left; width: 380px;"> 
                            
                            <van-icon name="down" />&nbsp;&nbsp;作者:{{item.realname}}</div>
                    <div style="float: left;margin-left: 6px;margin-bottom: 20px;">
                            <van-icon name="good-job" />{{item.likes}}
                    </div>
                   <div style="clear:left;">
                        <van-divider />
                </div>
                </div>

            </div>
            
        </van-list>

    </div>


    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/vant.min.js"></script>
    <script src="viewmodels/examination.js"></script>

</body>

</html>