<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="assets/css/vant.css">
    <script src="assets/js/vconsole.min.js"></script>
    <script>
        var vConsole = new VConsole();
    </script>
    <title>UpdateInterview</title>

</head>

<body>

    <div id="app">
        <van-divider>公司</van-divider>
        <van-cell title="公司" :value="company"></van-cell>
        <van-divider>地址</van-divider>
        <van-cell title="地址" :value="address"></van-cell>
        <van-divider>面试时间</van-divider>
        <van-datetime-picker v-model="time" type="datetime" :show-toolbar="false"></van-datetime-picker>
        <van-divider>面试结果</van-divider>
        <van-radio-group v-model="selectStatus">
            <van-radio name="0">待面试</van-radio>
            <van-radio name="1">OFFER</van-radio>
            <van-radio name="2">等通知</van-radio>
            <van-radio name="3">凉凉</van-radio>
            <van-radio name="4">复试</van-radio>
            <van-radio name="5">取消面试</van-radio>
        </van-radio-group>

        <van-divider>评星</van-divider>
        <van-rate v-model="stars" :size="25" color="#ee0a24" void-icon="star" void-color="#eee"></van-rate>

        <van-divider>备注</van-divider>
        <van-field v-model="note" rows="3" autosize label="备注" type="textarea" placeholder="请输入留言" show-word-limit>
        </van-field>

        <van-divider>面试试题/录音查看</van-divider>
        <van-button type="info">试题上传</van-button>
        <van-button type="info">录音上传</van-button>

        <br>
        <br>
        <br>

        <van-button type="primary" size="large" @click="handleUpdateClick">保存</van-button>
        <br>
        <br>
        <br>

    </div>


    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/vant.min.js"></script>
    <script src="viewmodels/InterviewUpdate.js"></script>

</body>

</html>