<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="assets/css/vant.css">
    <script src="assets/js/vconsole.min.js"></script>
    <script>
        var vConsole = new VConsole();
    </script>
    <title>添加面试</title>
</head>

<body>

    <div id="app">

        <!-- <van-nav-bar title="标题" left-text="返回" left-arrow @click-left="onClickLeft" @click-right="onClickRight">
            <van-icon name="wap-home-o" slot="right"></van-icon>
        </van-nav-bar> -->
        <van-field v-model="company" placeholder="请输入公司名"></van-field>
        <van-field v-model="address" placeholder="请输入公司地址"></van-field>
        <van-datetime-picker v-model="interviewTime" type="datetime" :show-toolbar="false" :min-date="now"></van-datetime-picker>
        <br>
        <van-button type="primary" @click="handleCreateClick">确认</van-button>
        <van-button type="default" @click="handleCancelTouch">取消</van-button>
    </div>


    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/vant.min.js"></script>
    <script src="viewmodels/interview-create.js"></script>

</body>

</html>