<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="assets/css/vant.css">
    <script src="assets/js/vconsole.min.js"></script>
    <script>
        var vConsole = new VConsole();
    </script>
    <title>Demo</title>
</head>

<body>

    <div id="app">
        <van-nav-bar left-text="所有人/自己" @click-left="onClickLeft" @click-right="onClickRight">
            <span slot="title"></span>
            <van-icon name="search" slot="right" />
        </van-nav-bar>
        <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="onLoad">


            <div style="clear: left;margin-left: 50px;margin-right: 50px;margin-bottom: 10px;" v-for="(item,a) in list" :key="a">
                <div>
                    <div style="float: left; width: 160px;">{{item.company}}公司面试</div>
                    <div style="float: left;"> {{item.time.substring(0,10)}}</div>
                </div>
                <div style="clear: left;margin-top: 30px;">
                    <div style="float: left; width: 160px;"> 
                            
                           {{item.studentName}}</div>
                    <div style="float: left;margin-left: 6px;margin-bottom: 20px;">
                        {{item.time.substring(11,19)}}
                    </div>
                   <div style="clear:left;">
                        <van-divider />
                </div>
                </div>


            </div>
            
        </van-list>

    </div>


    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/vant.min.js"></script>
    <script src="viewmodels/SearchInterview.js"></script>

</body>

</html>