<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="assets/css/vant.css">
    <script src="assets/js/vconsole.min.js"></script>
    <script>
        var vConsole = new VConsole();
    </script>
    <title>帐号激活</title>
</head>

<body>

    <div id="app" width="360px">
        <van-loading v-if="Idloading" vertical=true type="spinner" color="#1989fa">激活加载中</van-loading>


        <van-button type="primary" v-if="showbtn" @click="send">
            发送验证码
        </van-button>

        <br>
        
        <van-button slot="button" size="small" type="primary" :disabled="true" v-if="showbtnn">
            {{code_ts}}
        </van-button>

        <van-field v-model="captcha" placeholder="请输入短信验证码"></van-field>


        <br>
        <van-button type="primary" @click="submit">提交</van-button>


    </div>


    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/vant.min.js"></script>
    <script src="viewmodels/student-activate.js"></script>

</body>

</html>