<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.cjf.jinterviewsite.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="io.cjf.jinterviewsite.po.Student">
    <id column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile_verified" jdbcType="BIT" property="mobileVerified" />
    <result column="email_verified" jdbcType="BIT" property="emailVerified" />
  </resultMap>
  <sql id="Base_Column_List">
    student_id, nickname, realname, openid, avatar_url, status, gender, mobile, email, 
    mobile_verified, email_verified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where student_id = #{studentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student
    where student_id = #{studentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="io.cjf.jinterviewsite.po.Student" useGeneratedKeys="true" keyProperty="studentId">
    insert into student (nickname, realname,
      openid, avatar_url, status, 
      gender, mobile, email, 
      mobile_verified, email_verified)
    values (#{nickname,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR},
      #{openid,jdbcType=VARCHAR}, #{avatarUrl,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{gender,jdbcType=TINYINT}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{mobileVerified,jdbcType=BIT}, #{emailVerified,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="io.cjf.jinterviewsite.po.Student">
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentId != null">
        student_id,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="realname != null">
        realname,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="avatarUrl != null">
        avatar_url,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="mobileVerified != null">
        mobile_verified,
      </if>
      <if test="emailVerified != null">
        email_verified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobileVerified != null">
        #{mobileVerified,jdbcType=BIT},
      </if>
      <if test="emailVerified != null">
        #{emailVerified,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.cjf.jinterviewsite.po.Student">
    update student
    <set>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobileVerified != null">
        mobile_verified = #{mobileVerified,jdbcType=BIT},
      </if>
      <if test="emailVerified != null">
        email_verified = #{emailVerified,jdbcType=BIT},
      </if>
    </set>
    where student_id = #{studentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.cjf.jinterviewsite.po.Student">
    update student
    set nickname = #{nickname,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      gender = #{gender,jdbcType=TINYINT},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      mobile_verified = #{mobileVerified,jdbcType=BIT},
      email_verified = #{emailVerified,jdbcType=BIT}
    where student_id = #{studentId,jdbcType=INTEGER}
  </update>

<!--  custom-->
  <select id="selectByOpenid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from student
    where openid = #{openid}
  </select>

</mapper>